/* Full body styling */
*{
    padding: 0;
    margin: 0;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* Styling on logo figure */
figure{
    display: flex; 
    justify-content: center;
    margin-top: -20px;
}
/* Styling on figure image */
figure img{
    width: 250px; 
}

/* Nav Bar setting */
nav{
    display: flex; 
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    background-color: #ffc2d5;
    height: 40px;
}


nav a{ 
    color: #ee2b69;
    text-decoration: none;
    align-content: center;
}

nav a:hover {
    transform: scale(1.1); /* Scale the button by 10% on hover */
    transition: 0.5s;
    color: #ffffff;
    background-color: #ee2b69;
    border-radius: 3px;
    width: 100px;
    text-align: center;
}

/* Home (body) styling */
.home{
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
}

.home div{ 
    padding-top: 140px;
}

.home img{
    margin-left: 20px;
    width: 300px;
    height: 200px;
    margin-top: 100px;
}

.home h2{
    font-size: 40px;
    font-weight: 800;
    margin-top: -20px;
}

.home input{
    width: 250px; 
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
}

section { 
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-top: 30px;
}

section p{ 
    padding-top: 20px;
}
.best_selling{
    padding-top: 20px; 
}

#Best_sellers{ 
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
    color: #ee2b69;
    text-align: center
}
.group-cards{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.books{ 
    height: 400px;
    
    background-color: white;
    border-radius: 5px;
    padding-bottom: 10px;

}

.books img{ 
    width: 300px;
    height: 350px;
    border-radius: 5px;
    fill-opacity: 0.9;
    border: 2px solid black;
}

.group-cards h6{ 
    position: relative;
    top: -120;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: large;

}

.books button{ 
    background-color: rgb(255, 255, 255);
    color: #ee2b69; 
    border: 2px solid #ee2b69;
    border-radius: 4px;
    width: 100px;
    height: 5vh;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -120px;
}
.books button:hover {
    transform: scale(1.1); /* Scale the button by 10% on hover */
    transition: 0.5s;
}

.card-group{
    display: flex;
    margin-top: -20px;
    margin-bottom: 30px;
}

#Books{
    position: relative;
    top: 50px;
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: x-large;
    margin-bottom: 50px;
    color: #ee2b69;
    text-align: center;
    }

.card-group .card{
    width: 400px;
    height: 600px;
    padding: 30px;
    background-color: #ffffff;
    margin: 10px;
    border: 2px solid #436e92;
}

.card-img-top{
    width: 323px;
    height: 350px;
}

.card .card-body{ 
background-color: #ffffff;


}

.card-body .card-title{
    background-color: #ffffff9e;
    color: rgb(0, 0, 0);
    text-align: center;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;

}

.card button {
    background-color: #ffffff;
    color: #ee2b69;
    height: 7vh;
    width: 10vw;
    display: flex;
    margin: 0 auto; /* This centers horizontally */
    justify-content: center; /* This centers horizontally */
    align-items: center; /* This centers vertically */
    border-radius: 3px;
    margin-bottom: 10px;
    border: 1px solid #ee2b69;
    text-align: center; /* You can keep this for text alignment */
}

.card button:hover {
    transform: scale(1.1); /* Scale the button by 10% on hover */
    transition: 0.5s;
}

/* For mobile responsiveness */
@media(max-width: 420px){
    figure{
        margin-top: -15px;
    }
    figure img{
        width: 100px;
    }
    .home{ 
        margin-right: 10px;
    }
    .home div{
        padding: 70px;
    }
    .home img{ 
        width: 120px;
        height: 100px;
        margin-left: 10px;
        margin-top: 30px;
    }
    nav{
        height: 25px;
    }
    .home h2{ 
        font-size: 10px;
    }

    .home input{ 
        width: 100px;
        height: 20px;
        margin-top: 7px;
    }

    section { 
        margin-top: 5px;
        padding-bottom: 10px;
        padding-top: 30px;
    }
    section h3{ 
        font-size: medium; 

    }

    section p{ 
        font-size: smaller;
        padding-top: 10px;
    }

    /* Best sellers */
    .group-cards{
        display: grid;
        margin-left: 10px;
    }

    .books{
        margin-bottom: 20px;
    }

    .books img{
        width: 300px;
        height: 350px;
    }

    .books button{ 
     width: 20vw;
     height: 5vh;
     display: block;
     margin: 0 auto;   
    }


/* Books collection */
.card-group{
display: grid;
margin-left: 22px;    
}
.card-group  .card{
    margin-bottom: 90px;
    margin-top: 40px;
    width: 320px;
    height: 530px;
    margin-left: 0px;
}

.card .card-title{
    height: 40px;
    font-size: small;
    padding-top: 3px;

}
.card button{
    background-color: #ffffff;
    color: #ee2b69;
    width: 20vw;
    height: 5vh;
    display: block;
    margin: 0 auto;
    border: 1px solid #ee2b69;
    border-radius: 3px;
    font-size: smaller;
}

}



